:root{
    --bg:#0f172a;
    --text:white;
    --primary:#38bdf8;
}

.light{
    --bg:white;
    --text:black;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:0.4s;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    background:#1e293b;
    position:fixed;
    width:100%;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:var(--primary);
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin:0 15px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.right-nav{
    display:flex;
    align-items:center;
}

.theme-btn{
    margin-right:15px;
    cursor:pointer;
}

.menu-btn{
    display:none;
    font-size:22px;
    cursor:pointer;
}

/* Hero */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero span{
    color:var(--primary);
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:var(--primary);
    color:white;
    cursor:pointer;
}

/* Sections */
section{
    padding:100px 8%;
    text-align:center;
}

/* Skills */
.skill{
    margin:20px auto;
    width:300px;
    text-align:left;
}

.progress{
    height:8px;
    background:#ddd;
    border-radius:10px;
    overflow:hidden;
}

.progress div{
    height:100%;
    background:var(--primary);
    width:0;
    transition:1.5s;
}

/* Projects */
.project-card{
    background:#1e293b;
    margin:15px auto;
    padding:20px;
    width:250px;
    border-radius:10px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

/* Scroll Reveal */
.reveal{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* Responsive */
@media(max-width:768px){
    .nav-links{
        display:none;
        flex-direction:column;
        background:#1e293b;
        position:absolute;
        top:60px;
        right:0;
        padding:10px;
    }

    .menu-btn{
        display:block;
    }
}